<section>
  <div class="card FeaturedTextDiv <%= FeaturedImgIndex %>">
    <div class="sideWipeContainer">
      <div class="sideWipe1 leftSideWipe"></div>
    </div>
    <p class="FeatPgh hideDiv">
      <%= paragraph %>
    </p>
    <p class="FeatPgh hideDiv" style="margin-top: 1%;">
      <%= subLine %>
    </p>
    <br>
    <a href="<%= link %>" class="btn btn-light hideDiv" onclick="window.open(this.href); return false;"><%= linkText %></a>
  </div>
</section>
